/* SolarWinds brand tokens, extracted from www.solarwinds.com */
:root {
  /* fonts */
  --display-font-family: "Roboto Slab", roboto-fallback, serif;
  --button-font-family: geist, roboto, roboto-fallback, sans-serif;

  /* colors */
  --sw-black: #111;
  --sw-body-text: #444;
  --sw-orange: #ff6200;
  --sw-orange-pressed: #ff9b66;
  --sw-teal: #006482;
  --sw-teal-pressed: #003c4e;
  --sw-light-teal: #d8e3e3;
  --sw-dark: #222;
  --sw-light-grey: #eee;
  --sw-grey-disabled: #a1a1a1;

  /* layout */
  --content-max-width: 1280px;
  --content-padding: 24px;
  --section-padding: 48px;
}

@media (width >= 600px) {
  :root {
    --section-padding: 64px;
  }
}
